---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="About">
    <div id="content">
        <section id="about" style="display: block">
            <section main>
                <h2 main>About me</h2>
                <p>
                    I am a 20 year old student located in Italy, currently
                    undergraduate in Computer Science. My interests are mainly
                    focused on learning applications of Logic and Linear Algebra
                    in Machine Learning. I like to commit in difficult
                    challenges that enable me to get better in any skill.
                    Sometimes I love to learn even things that not concerns this
                    field, like sociology and psychology. I like writing and
                    reading too. Sometimes you will see me play some basketball
                    too.
                </p>
            </section>
            <section main>
                <h2 main>Work Experience</h2>
                <ul work>
                    <li work>
                        <article work>
                            <header work>
                                <div work>
                                    <h3 work>Freelance</h3>
                                    <h4 work>Computer Science Tutor</h4>
                                </div>
                                <div work>
                                    <time
                                        datetime="2023-12-01"
                                        data-title="2023-12-01"
                                        work
                                        >December 2023
                                    </time>
                                    -
                                    <time work>Present</time>
                                </div>
                            </header>
                            <footer work>
                                <p work>
                                    Thanks to one of my old professor in High
                                    School, I was able to contact some students
                                    that needed for help in Computer Science.
                                    Until now, I have been helping students with
                                    programming in C, C++, Python, Java (with
                                    GUI and other libraries), HTML and CSS. This
                                    helped me to learn how to teach effectively
                                    to someone who seek help and in need of
                                    guided exercises.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li work>
                        <article work>
                            <header work>
                                <div work>
                                    <h3 work>La Piadineria</h3>
                                    <h4 work>Employee</h4>
                                </div>
                                <div work>
                                    <time work>September 2023 </time>
                                    -
                                    <time work>December 2023</time>
                                </div>
                            </header>
                            <footer work>
                                <p work>
                                    Training experience where I decided to throw
                                    myself into a completely new environment and
                                    sector. Although the experience was short,
                                    it increased my level of work mindset. The
                                    difficulties of working in a very crowded
                                    shopping mall every day have led to a
                                    temperament of physical and mental
                                    tiredness.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li work>
                        <article work>
                            <header work>
                                <div work>
                                    <h3 work>
                                        Weevo: Digital Corporate Communication
                                    </h3>
                                    <h4 work>Internship</h4>
                                </div>
                                <div work>
                                    <time work>January 2022 </time>
                                    -
                                    <time work>February 2022</time>
                                </div>
                            </header>
                            <footer work>
                                <p work>
                                    This period of intership helped me to
                                    develop some copywriting skills together
                                    with some usage of CMS such as Drupal. It
                                    was extremely useful to learn more about the
                                    work mindset in the web exporting industry.
                                </p>
                            </footer>
                        </article>
                    </li>
                </ul>
            </section>
            <section main>
                <h2 main>Education</h2>
                <ul education>
                    <li education>
                        <article education>
                            <header education>
                                <div education>
                                    <h3 education>University of Verona</h3>
                                </div>
                                <div education>
                                    <time education>2023</time> -
                                    <time education>Present</time>
                                </div>
                            </header>
                            <footer education>
                                <p education>
                                    BS in Computer Science, still undergraduate.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li education>
                        <article education>
                            <header education>
                                <div education>
                                    <h3 education>ITIS Luigi Cerebotani</h3>
                                </div>
                                <div education>
                                    <time education>2018</time> -
                                    <time education>2023</time>
                                </div>
                            </header>
                            <footer education>
                                <p education>
                                    High school with specialization in
                                    Information Technology. Got out of this
                                    school with a 100/100 graduation mark and
                                    with 3.8 GPA.
                                </p>
                            </footer>
                        </article>
                    </li>
                </ul>
            </section>
            <section main>
                <h2 main>Skills</h2>
                <ul foot>
                    <li skills>
                        <img src="assets/c++.svg" width="16" height="16" />
                        <span skills>C++</span>
                    </li>
                    <li skills>
                        <img src="assets/csharp.svg" width="16" height="16" />
                        <span skills>C#</span>
                    </li>
                    <li skills>
                        <img src="assets/sql.svg" width="16" height="16" />
                        <span skills>SQL</span>
                    </li>
                    <li skills>
                        <img src="assets/java.svg" width="16" height="16" />
                        <span skills>Java</span>
                    </li>
                    <li skills>
                        <img src="assets/webdev.svg" width="16" height="16" />
                        <span skills>Web Dev</span>
                    </li>
                    <li skills>
                        <img src="assets/php.svg" width="16" height="16" />
                        <span skills>PHP</span>
                    </li>
                    <li skills>
                        <img src="assets/ae.svg" width="16" height="16" />
                        <span skills>After Effects</span>
                    </li>
                </ul>
            </section>
        </section>
    </div>
</Layout>
