---
import Layout from "../layouts/Layout.astro";

const skills = {
    nameSkills: ["C++", "C#", "SQL", "Java", "Web Dev", "PHP", "After Effects"],
    imageSkills: [
        "../assets/c++.svg",
        "../assets/csharp.svg",
        "../assets/sql.svg",
        "../assets/java.svg",
        "../assets/webdev.svg",
        "../assets/php.svg",
        "../assets/ae.svg",
    ],
};
---

<Layout pageTitle="About">
    <div id="content">
        <section id="about">
            <section class="main">
                <h2 class="main">About me</h2>
                <p>
                    I am a 20 year old student located in Italy, currently
                    undergraduate in Computer Science. My interests are mainly
                    focused on learning applications of Logic and Linear Algebra
                    in Machine Learning. I like to commit in difficult
                    challenges that enable me to get better in any skill.
                    Sometimes I love to learn even things that not concerns this
                    field, like sociology and psychology. I like writing and
                    reading too. Sometimes you will see me play some basketball
                    too.
                </p>
            </section>
            <section class="main">
                <h2 class="main">Work Experience</h2>
                <ul class="work">
                    <li class="work">
                        <article class="work">
                            <header class="work">
                                <div class="work">
                                    <h3 class="work">Freelance</h3>
                                    <h4 class="work">Computer Science Tutor</h4>
                                </div>
                                <div class="work">
                                    <time
                                        datetime="2023-12-01"
                                        data-title="2023-12-01"
                                        class="work"
                                        >December 2023
                                    </time>
                                    -
                                    <time class="work">Present</time>
                                </div>
                            </header>
                            <footer class="work">
                                <p class="work">
                                    Thanks to one of my old professor in High
                                    School, I was able to contact some students
                                    that needed for help in Computer Science.
                                    Until now, I have been helping students with
                                    programming in C, C++, Python, Java (with
                                    GUI and other libraries), HTML and CSS. This
                                    helped me to learn how to teach effectively
                                    to someone who seek help and in need of
                                    guided exercises.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li class="work">
                        <article class="work">
                            <header class="work">
                                <div class="work">
                                    <h3 class="work">La Piadineria</h3>
                                    <h4 class="work">Employee</h4>
                                </div>
                                <div class="work">
                                    <time class="work">September 2023 </time>
                                    -
                                    <time class="work">December 2023</time>
                                </div>
                            </header>
                            <footer class="work">
                                <p class="work">
                                    Training experience where I decided to throw
                                    myself into a completely new environment and
                                    sector. Although the experience was short,
                                    it increased my level of work mindset. The
                                    difficulties of working in a very crowded
                                    shopping mall every day have led to a
                                    temperament of physical and mental
                                    tiredness.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li class="work">
                        <article class="work">
                            <header class="work">
                                <div class="work">
                                    <h3 class="work">
                                        Weevo: Digital Corporate Communication
                                    </h3>
                                    <h4 class="work">Internship</h4>
                                </div>
                                <div class="work">
                                    <time class="work">January 2022 </time>
                                    -
                                    <time class="work">February 2022</time>
                                </div>
                            </header>
                            <footer class="work">
                                <p class="work">
                                    This period of intership helped me to
                                    develop some copywriting skills together
                                    with some usage of CMS such as Drupal. It
                                    was extremely useful to learn more about the
                                    work mindset in the web exporting industry.
                                </p>
                            </footer>
                        </article>
                    </li>
                </ul>
            </section>
            <section class="main">
                <h2 class="main">Education</h2>
                <ul class="education">
                    <li class="education">
                        <article class="education">
                            <header class="education">
                                <div class="education">
                                    <h3 class="education">
                                        University of Verona
                                    </h3>
                                </div>
                                <div class="education">
                                    <time class="education">2023</time> -
                                    <time class="education">Present</time>
                                </div>
                            </header>
                            <footer class="education">
                                <p class="education">
                                    BS in Computer Science, still undergraduate.
                                </p>
                            </footer>
                        </article>
                    </li>
                    <li class="education">
                        <article class="education">
                            <header class="education">
                                <div class="education">
                                    <h3 class="education">
                                        ITIS Luigi Cerebotani
                                    </h3>
                                </div>
                                <div class="education">
                                    <time class="education">2018</time> -
                                    <time class="education">2023</time>
                                </div>
                            </header>
                            <footer class="education">
                                <p class="education">
                                    High school with specialization in
                                    Information Technology. Got out of this
                                    school with a 100/100 graduation mark and
                                    with 3.8 GPA.
                                </p>
                            </footer>
                        </article>
                    </li>
                </ul>
            </section>
            <section class="main">
                <h2 class="main">Skills</h2>
                <ul class="foot">
                    {
                        skills.nameSkills.map((skill, index) => (
                            <li class="skills">
                                <img
                                    src={skills.imageSkills[index]}
                                    width="16"
                                    height="16"
                                />
                                <span class="skills">{skill}</span>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </section>
    </div>
</Layout>
