---
import BookSlider from "../components/BookSlider.astro";
import Layout from "../layouts/Layout.astro";
//import BookSlider from "../components/BookSlider.astro";
---

<Layout pageTitle="Bookshelf">
<div id="content">
    <section id="bookshelf">
        <section class="main">
            <BookSlider/>
        <section>
    <section>
</div>
</Layout>
