---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Progress">
    <div id="content">
        <section id="progress" style="display: block">
            <section main>
                <h2 main>Classes</h2>
                <p class>
                    Here's a list of all the courses and classes I have taken in
                    my university career. In Italy we have grades on a scale
                    from 0 to 30.
                </p>
                <article class>
                    <div class="content">
                        <header class>
                            <h3 class>MAT</h3>
                            <p class>Calculus 1</p>
                            <p class>Logic</p>
                            <p class>Linear Algebra</p>
                            <p class>Probability and Statistics</p>
                        </header>
                        <header class>
                            <h3 class>FIS</h3>
                            <p class>Physics 1</p>
                        </header>
                    </div>
                    <div class="content">
                        <header class>
                            <h3 class>ING-INF</h3>
                            <p class>Computer Architecture</p>
                        </header>
                        <header class>
                            <h3 class>INF</h3>
                            <p class>Programming 1</p>
                        </header>
                    </div>
                </article>
                <footer class>
                    <span class>Grade Average: 28</span>
                    <span class>Weighted Graduation Average: 101</span>
                </footer>
            </section>
        </section>
    </div>
</Layout>
