---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Progress">
    <div id="content">
        <section id="progress">
            <section class="main">
                <h2 class="main">Classes</h2>
                <p class="class">
                    Here's a list of all the courses and classes I have taken in
                    my university career. In Italy we have grades on a scale
                    from 0 to 30.
                </p>
                <article class="class">
                    <div class="content">
                        <header class="class">
                            <h3 class="class">MAT</h3>
                            <p class="class">Calculus 1</p>
                            <p class="class">Logic</p>
                            <p class="class">Linear Algebra</p>
                            <p class="class">Probability and Statistics</p>
                        </header>
                        <header class="class">
                            <h3 class="class">FIS</h3>
                            <p class="class">Physics 1</p>
                            <p class="class">Physics 2</p>
                            <p class="class">Introduction to Quantum Mechanics for Quantum Computing</p>
                        </header>
                    </div>
                    <div class="content">
                        <header class="class">
                            <h3 class="class">ING-INF</h3>
                            <p class="class">Computer Architecture</p>
                            <p class="class">Operating Systems</p>
                        </header>
                        <header class="class">
                            <h3 class="class">INF</h3>
                            <p class="class">Programming 1</p>
                            <p class="class">Programming 2</p>
                            <p class="class">Computer Networks</p>
                            <p class="class">Functional Programming</p>
                            <p class="class">Programming Smart Contracts (Ethereum)</p>
                        </header>
                    </div>
                </article>
                <footer class="class">
                    <span class="class">Grade Average: 28</span>
                    <span class="class">Weighted Graduation Average: 101</span>
                </footer>
            </section>
        </section>
    </div>
</Layout>
