---
import { Image } from "astro:assets";
import Location from "../assets/location-icon.svg"; // Image is 1600x900
import MyImage from "../assets/me.png";
---

<header class="top">
    <section class="main">
        <div class="container">
            <div class="info">
                <h1 class="text-3xl font-bold">Paolo Imbriani</h1>
                <h2 class="header">
                    Computer Science Student @ UNIVR, Aspiring Researcher
                </h2>
                <span class="header">
                    Mantova, Lombardia, Italy
                </span>
                <footer class="header">
                    <a
                        href="mailto:paolo.imbriani@studenti.univr.it"
                        title="Email Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                       Email
                    </a>
                    <a
                        href="https://www.instagram.com/magidoof77/"
                        title="Instagram"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        Instagram
                    </a>
                    <a
                        href="https://www.linkedin.com/in/paolo-imbriani-ba1b7b215/"
                        title="Linkedin Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        Linkedin
                    </a>
                    <a
                        href="https://github.com/MagiHotline"
                        title="Github Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        Github
                    </a>
                </footer>
            </div>
            <div class="figure">
                <figure class="header">
                    <Image
                        src={MyImage}
                        alt="Imbriani Paolo"
                        width="200"
                        height="200"
                    />
                </figure>
            </div>
        </div>
    </section>
</header>
