<header class="top">
    <section class="main">
        <div class="container">
            <div class="info">
                <h1 class="text-3xl font-bold">Paolo Imbriani</h1>
                <h2 class="header">
                    Computer Science Student @ UNIVR, Aspiring Researcher
                </h2>
                <span class="header">
                    <img
                        src="images/location-icon.svg"
                        width="12"
                        height="12"
                    />
                    Mantova, Lombardia, Italy
                </span>
                <footer class="header">
                    <a
                        href="mailto:paolo.imbriani@studenti.univr.it"
                        title="Email Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        <img src="assets/email.png" />
                    </a>
                    <a
                        href="https://www.instagram.com/magidoof77/"
                        title="Instagram"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        <img
                            src="assets/instagram.jpeg"
                            height="20"
                            width="20"
                        />
                    </a>
                    <a
                        href="https://www.linkedin.com/in/paolo-imbriani-ba1b7b215/"
                        title="Linkedin Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        <img
                            src="assets/linkedin.jpeg"
                            height="20"
                            width="20"
                        />
                    </a>
                    <a
                        href="https://github.com/MagiHotline"
                        title="Github Paolo Imbriani"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="header"
                    >
                        <img src="assets/github.jpeg" width="20" height="20" />
                    </a>
                </footer>
            </div>
            <div class="figure">
                <figure class="header">
                    <img
                        src="images/me.png"
                        alt="Imbriani Paolo"
                        width="120"
                        height="120"
                    />
                </figure>
            </div>
        </div>
    </section>
</header>
