---

---

<main>
    <nav>
        <a href="/blog">Blog</a>
        <a href="/progress">Progress</a>
        <a href="/projects">Projects</a>
        <a href="/bookshelf">Bookshelf</a>
        <a href="/about">About</a>
        <a href="/Curriculum%20EN.pdf" download>Curriculum</a>
    </nav>
    <div id="content"></div>
</main>
