---
import ThemeIcon from "../components/ThemeIcon.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <script>
      // @ts-nocheck
      window.MathJax = {
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
        svg: { fontCache: 'global' }
      };
    </script>
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <ThemeIcon />
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
    <a href="/../blog" class="read">Back to blog</a>
  </body>
</html>

<style is:global>
  a.read {
    color: #4183c4;
    font-size: medium;
    width: fit-content;
  }

  p {
    margin: 1rem 0;
  }

  html {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Courier New,
      Courier,
      monospace;
    background: #fff;
    letter-spacing: -0.025rem;
    overflow-x: hidden;
  }

  html.dark {
    background-color: #1c1a1a;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  h2 {
    margin: 1rem 0;
    font-size: 2rem;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }

  li {
    margin-bottom: 8px;
  }
</style>
