---
import ThemeIcon from "../components/ThemeIcon.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <script>
      // @ts-nocheck
      window.MathJax = {
        tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
        svg: { fontCache: 'global' }
      };
    </script>
    <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <ThemeIcon />
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
    <a href="/../blog" class="read">Back to blog</a>
    <script src="https://giscus.app/client.js"
            data-repo="MagiHotline/MagiHotline.github.io"
            data-repo-id="R_kgDOMgECcA"
            data-category="General"
            data-category-id="DIC_kwDOMgECcM4C4AAj"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </body>
</html>

<style is:global>

a {
    color: #4183c4;
}

a.read {
    color: #4183c4;
    font-size: medium;
    width: fit-content;
}

p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

html {
    font-family:
        Verdana,
        Menlo,
        Monaco,
        Lucida Console,
        Courier New,
        Courier,
        monospace;
    background: #fff;
    letter-spacing: -0.025rem;
    overflow-x: hidden;
}

html.dark {
    background-color: #1c1a1a;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 90ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2rem;
}

h3 {
    margin: 1rem 0;
    font-size: 1rem;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

ul, ol {
    margin: 1rem 0;
    padding-left: 2rem;
    font-size: 1rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul ul {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style-type: circle;
}

ol ol {
    margin: 0.5rem 0 0.5rem 1.5rem;
    list-style-type: decimal;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

blockquote {
  padding: 0 1em;
  color: #5CB685;
  border-left: 0.25em solid #d0d7de;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, li {
        font-size: 1.05rem;
    }

    img, svg, canvas {
        max-width: 100%;
        height: auto;
    }
}
</style>
