---
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/stylesheet.css";
const { frontmatter } = Astro.props;
---

<ThemeIcon />
<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by: {frontmatter.author}</p>

<slot />
<a href="/../blog" class="read">Back to blog</a>
